@import'./utils/variables';
@import'./components/header';
@import'./utils/variables';
@import'./utils/variables';
@import'./utils/variables';
@import'./utils/variables';




/* tel+adres */

/* hero section */

.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--logo-link-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* hero section */
.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Img.jpg);
  max-width: 1600px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-color: var(--background-overlay);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.hero_button--additionally {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_button--additionally:hover,
.hero_button--additionally:focus {
  background-color: var(--logo-link-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero_button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border-radius: 4px;
  margin-top: 30px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.link-filter {
  text-decoration: none;
}
.filter {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-bottom: 4px;
}
.filter-foto {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-text);
  text-decoration: none;
}
/* footer */
.logofot {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  text-decoration: none;
}
.logo-fotweb {
  color: var(--logo-link-color);
}
/* adress */

.footer-nav .footer-link:hover,
.footer-nav .footer-link:focus {
  color: var(--logo-link-color);
}
.footer-nav :not(:first-child) {
  margin-top: 9px;
}
.footer-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--third-text);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigat {
  color: var(--primary-background-color);
}

/* пер(peculiarities)-особливості  */
/* section 2  */

.benefits__list {
  display: flex;
  gap: 30px;
}
.peculiarities {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.peculiarities__icon {
  width: 70px;
  height: 70px;
}
.benefist__item .peculiarities__header :not(:first-child) {
  margin-left: 30px;
}
.peculiarities__header {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}
.peculiarities__text {
  color: var(--secondary-text);
  margin-top: 10px;
}
/* section 3  */

.work {
  margin-bottom: 94px;
}
.work__header--margin {
  margin-bottom: 50px;
}

.work__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.workcard {
  display: flex;
  gap: 30px;
}
.workard__list {
  width: calc((100% - 60px) / 3);
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
.boxthumb {
  position: relative;
}
.boxthumb__description {
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
}
/* section team */

.section__team {
  background-color: var(--second-background);
}
.team-foto__list {
  display: flex;
  margin-top: 50px;
}
.team-foto__item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-foto__item:not(:first-child) {
  margin-left: 30px;
}

.team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: center;
}

.team__position {
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text);
}
/* soc iconku  pracivnukiv*/
.client__container--list {
  display: flex;
  gap: 30px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social-icon .social-icon__link {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon .social-icon__link:hover,
.social-icon .social-icon__link:focus {
  background-color: var(--logo-link-color);
  fill: var(--primary-background-color);
}

/* postiini clientu */
.client__container .client__container--link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(175, 177, 184, 1);
  background-color: var(--primary-background-color);
  fill: var(--color-mini-iconrgbargba);
  gap: 30px;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__container .client__container--link:hover,
.client__container .client__container--link:focus {
  fill: rgba(33, 150, 243, 1);
  background-color: var(--primary-background-color);
  border: 1px solid var(--logo-link-color);
}

.footerbg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-color);
}

/* portfolio */
.button {
  display: flex;
  justify-content: center;
}
.button :not(:last-child) {
  margin-right: 9px;
}

.benefits__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.foto-link {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.flex-elements {
  background-color: var(--primary-background-color);
}
.link-filter {
  display: block;
}
.link-filter:hover,
.link-filter:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.logoclas {
  margin-bottom: 20px;
}
.foterclass :not(:first-child) {
  margin-top: 9px;
}
.border-foto {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--border-porfolio);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.border-foto {
  display: block;
}

/* /testststststststs */
.footerbg {
  display: flex;
  align-items: baseline;
}

/*  icon
 */

.fottext {
  color: var(--primary-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container-foter {
  display: flex;
  align-items: baseline;
}

.conect {
  margin-left: 93px;
}
.container .list-social {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 20px;
}
.footer1 .link1 {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer1 .link1:hover,
.footer1 .link1:focus {
  background-color: var(--logo-link-color);
  fill: var(--primary-background-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* PORTFOLIO */
.animation-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-elements:hover .portfolio-text {
  transform: translateY(0);
  background-color: var(--portfolio-hover);
}
/* PORTFOLIO */
/* modal+backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  flex-direction: column;
  width: 521px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* icon button */
.icon-close {
  position: absolute;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-background-color);
}
.close-button:hover,
.close-button:focus {
  fill: var(--logo-link-color);
}

/* Adds animation when hovering. */
.box-telegram {
  margin-left: auto;
}
.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-color);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.box-social {
  display: flex;
  margin-top: 20px;
}
.button-box > .icon-telegram {
  margin-left: 10px;
}
.button-box {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-box:hover,
.button-box:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
}
.button-modal {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--logo-link-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover,
.button-modal:focus {
  color: var(--primary-background-color);
  background-color: var(--active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal {
  padding: 40px 40px;
}
.contract-text {
  color: var(--secondary-text);
  border-radius: 4px;
  transition: border 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}

.contract-link {
  color: var(--logo-link-color);
  text-decoration: none;
  text-decoration-line: underline;
}
.modal-transformation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input-wrap {
  position: relative;
}
.modal-transformation svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
}
textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}
textarea {
  resize: none;
  border: 1px solid var(--border-modal-);
  border-radius: 4px;
  padding: 0;
  padding-left: 16px;
  padding-top: 12px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.modal-transformation input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid var(--border-modal-);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-transformation > .primary-label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-text);
  margin-bottom: 4px;
}
.modal-submit {
  display: flex;
  justify-content: center;
}
.modal-transformation svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-transformation:focus-within svg {
  fill: var(--logo-link-color);
}
.modal-transformation:focus-within textarea {
  border: 1px solid var(--logo-link-color);
}
.modal-transformation:focus-within input {
  border: 1px solid var(--logo-link-color);
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.checkbox:checked + .icon-contr {
  background-color: var(--logo-link-color);
  background-size: contain;
  background-origin: content-box;
  border-color: var(--logo-link-color);
}

.icon-contr {
  display: inline-block;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 10px;
}

